


.navigationParent{
    position: relative;
}

.navigation.flex{
    justify-content: space-between;
    padding: 10px 80px;
    background:rgba(251, 254, 255, 0.829);
    height: 70px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    border-bottom: 5px solid rgb(12, 89, 109);
    
}
    
.navigation .navLogo{
    color: rgb(13, 107, 109);
    font-weight: 800;
    padding: 10px 0px;
    cursor: pointer;
    gap: 1.5px;
}

.navigation .navLogo img,
.footerLogo
{
    height: 60px;
    width: 60px;
}

.navigation .menu.flex{
    gap: 30px;
    font-size: 18px;
    color: white;
}

.navigation .menu a{
    color: rgb(15, 38, 68);
    font-family: sans-serif;
    text-decoration: none;
    transition: .2s;
}

.navigation .menu a:hover{
    color: rgb(8, 164, 226);
    text-decoration: underline;
    text-decoration-thickness: 2px;

}

.navigation .menu a.active{
    color: rgb(72, 192, 207);
}

a.active{
    color: rgba(198, 138, 216, 0.911);
}

.loginAndLogout{

}

.userInfo{
    gap: 30px;
    margin-left: 75px;
}

.photoURL{}
.photoURL img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}

