

/**-----Home start-------**/

.homePage, .favoriteSection, .jobsSection, .aboutPage, .contactPage 
{
    height: auto;
    padding: 10px;
    padding-top: 100px;
    border: 1px solid;
}

.banner{
    max-width: 100%;
}



/**-----Home End-------**/


/**-----Home start-------**/
/**-----Home start-------**/


/**-----Home start-------**/
/**-----Home start-------**/



/**-----Home start-------**/
/**-----Home start-------**/