* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Noto Serif', sans-serif;
}

/**-------Fonts--------**/




/**-----Home start-------**/

.homePage,
.favoriteSection,
.jobsSection,
.about-page,
.contactPage {
    height: auto;
    padding-top: 70px;
    font-family: 'Noto Serif', sans-serif;
    font-weight: 300;
}

.heroSection {
    position: relative;
}

.bannerInfo {
    position: relative;
}

.bannerText {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: azure;
}

.imgDiv img {
    max-width: 100%;

}


h1.title {
    font-size: 50px;
    margin-bottom: 20px;
}

.text {
    font-size: 20px;
    line-height: 30px;
    max-width: 455px;
}


button.homeDetailsBtn {
  margin-top: 15px;
  padding: 10px 20px;
  width: 100%;
  border:none;
  border-radius: 3px;
  background-color: rgb(0, 119, 201);
  color: white;
  font-size: 17px;
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
  transition: all .3s ease;
  cursor: pointer;
}

button.homeDetailsBtn:hover{
  background: rgb(4, 109, 179);
  box-shadow: none;
}

.ExploreNewBtn button {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 2px;
    background: rgb(0, 119, 201);
    color: #fffcfc;
    margin-block: 40px;
    cursor: pointer;
    transition: .3s;
    border: none;
    outline: none;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
    transition: all .3s ease;
    cursor: pointer;
}

.ExploreNewBtn button:hover {
    background: rgb(46, 149, 218);
    box-shadow: none;
}

/**-------Job Section Start---------**/
  /* go JobsDetails component
/**-------Job Section End---------**/

/**-----Home End-------**/




/**-----Sign Up start-------**/

.signUpPageParent {
    height: auto;
    margin: 0 auto;
}

.signUpPageParent a {
    text-decoration: none;
}

.logo h1 {
    color: 	rgb(9, 25, 51);
    padding: 10px 100px;
    cursor: pointer;
    
}

.SigUpImage img {
    height: 500px;
    width: 630px;
    box-shadow: 1px 1px 10px white;
    border: 3px solid rgb(153, 150, 150);
    border-radius: 8px 100px;
    outline: 1px solid #00bfff;
    outline-offset: 10px;
}



.signUpPageInfo.flex,
.signInPageInfo.flex {
    gap: 100px;
    position: relative;
}

.signUpForm {
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    width: 450px;
    z-index: 1;
    border: 1px solid rgb(184, 182, 182);
}

.signUpForm .title {}

.signUpForm .title h1 {
    text-align: center;
    font-size: 33px;
    color: rgb(102, 105, 103);
}

hr {
    margin: 17px 0px 10px 0px;
    color: rgb(184, 182, 182);
}

.haveAccount {
    font-size: 20px;
    margin: 20px 0px;
}

.haveAccount p {}

.haveAccount p span {
    font-size: 25px;
    color: #00008B;
    cursor: pointer;
    transition: all ease .2s;

}

.haveAccount p span:hover {
    color: #0000CD;
    text-decoration: underline;
}

.formInfo {}

label {
    font-size: 20px;
    color: rgb(54, 53, 53);
}

input#fullName,
input#email,
input#password,
input#confirmPassword {
    width: 100%;
    padding: 6px 2px;
    margin: 0px 0px 20px 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(184, 182, 182);
    font-size: 18px;
    color: rgb(54, 52, 52);
}

.submitBtn {}

.submitBtn button {
    margin-top: 25px;
    padding: 10px 10px;
    width: 100%;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    transition: all ease .2s;
    background-color: rgb(35, 53, 221);
    color: white;
}

.submitBtn button:hover {
    background-color: rgb(43, 62, 236);
    box-shadow: 3px 3px 10px rgb(92, 142, 216);
}

/**-------Social start---------**/

.or hr {
    width: 160px;
    margin-inline: 5px;
    margin-top: 30px;
}

.or p {
    margin-top: 20px;
    color: gray;
}


.socialSignUpInfo {}

.social {
    gap: 30px;
}

.google,
.gitHub {
    margin-top: 20px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all ease .2s;
}

.google:hover,
.gitHub:hover {
    box-shadow: 3px 3px 10px rgb(65, 63, 63);
}

.gitHub {
    background-color: black;
}

.google {
    background-color: rgb(58, 170, 88);
}

.googleLogo {
    font-size: 50px;
    margin-left: 10px;
}

.gitHubLogo {
    font-size: 35px;
    color: rgb(240, 239, 239);
    margin-left: 10px;
}


.text button {
    padding: 10px 0px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 3px;
    color: rgb(255, 254, 254);
    cursor: pointer;
}

.googleBtn {
    background-color: rgb(58, 170, 88);

}

.gitBtn {
    background-color: #000;
}

/**-------Social End---------**/
/**-----Sign Up End-------**/


/**-----LogIn start-------**/

.signInPageInfo{
    gap: 0px;
}
.LogInImage {}

.LogInImage img {
    height: 350px;
    width: 400px;
    border: none;
    border: none;
    outline: none;
}

.motivation {
    width: 600px;
    height: 515px;
   position: relative;
    
}

.motivation .mTitle h1 {
    margin-bottom: 30px;
    color:green;
    font-size: 40px;
    font-style: italic;
}

.motivationText{
    max-width: 500px;
    height: 515px;
}
.motivationText p {
  margin-bottom: 100px;
  position: absolute;
  top: 320px;
  left: 60px;
  font-size: 17px;
}

.motivationText span{
  font-size: 30px;
  color:rgb(38, 75, 155);
  font-weight: 600;
  position: absolute;
  top: -40px;
  left: 0;
}

/**-----LogIn End-------**/



/**-----About page start-------**/
  

.about-page{
    padding: 100px 70px;
}
  .header {
    text-align: center;
    margin-bottom: 20px;
  
  }
  
  .header h1 {
    font-size: 40px;
    margin: 30px;
    color:rgb(131, 170, 231) ;
    
  }
  
  .content .title {
    font-size: 25px;
    color: rgb(45, 95, 45);
    margin-top: -10px;
    padding: 10px 0px;
    border-bottom: 1px solid magenta;

  }
  
  .content {
    margin-bottom: 20px;
    }
  .content p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .features {
    margin-bottom: 20px;
    text-align: center;
    
  }
  
  .features h2 {
    font-size: 40px;
    margin: 100px auto;
    color:rgb(131, 170, 231) ;
    border-bottom: 1px solid;
    padding: 5px 0px;
    
  }
  
  .features ul {
    list-style-type: none;
    padding: 0;
   margin-top: -70px;
  }
  
  .features li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .team {
    margin-bottom: 20px;
    
  }
  
 h2.meetOutTeam {
    margin-block: 80px 40px;
    text-align: center;
    font-size: 40px;;
    color:rgb(131, 170, 231) ;
    border-bottom: 1px solid rgb(34, 34, 32);
  }
  
  .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .team-member {
    text-align: center;
    width: 300px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .team-member img {
    max-width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 8px 8px 0 0;
  }
  
  .member-info {
    padding: 20px;
  }
  
  .member-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .member-info p {
    font-size: 1rem;
    color: #555;
    line-height: 1.4;
  }
  
  /* Responsive design  about page */
  @media screen and (max-width: 768px) {
    .about-page{
        text-align:left;
    }
  
    .header h1 {
      font-size: 32px;
    }
  
    .features h2 {
      font-size: 32px;
    }

    h2.meetOutTeam {
    text-align: center;
    font-size: 30px;
    
  }
  
    .team-member {
      width: 100%;
    }
  }
  
  
  @media screen and (max-width: 480px) {
    .header h1 {
      font-size: 30px;
    }
  
    .features h2 {
      font-size: 25px;
    }

     h2.meetOutTeam {
        text-align: center;
        font-size: 30px;
      }
  
    .team-member {
      width: 100%;
    }
  }

/**-----About page End-------**/



/**-----Contact page Start-------**/

.contact-page {
  padding: 20px;
  margin: 0 auto;
}

.contact-header {
  text-align: center;
  margin-bottom: 30px;
}

.contact-header h1 {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 800;
  color:rgb(90, 166, 222) ;
  border-bottom: 1px solid;
}

.contact-header p {
  font-size: 20px;
  color: #555;
  margin-bottom: 60px;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input#ConName,
input#ConEmail
{
  margin-bottom: 20px;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc ;
  border-right: 1px solid #ccc ;
  border-radius: 0px 20px;
}

textarea{
  width: 100%;
  font-size: 20px;
  outline: none;
  padding:20px 0px 0px 10px;
  border-radius: 20px 0px;
  margin-top: 8px;
}


.sendBtn button {
  width: 100%;
  padding: 10px ;
  font-size: 22px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background: rgb(12, 101, 160);
  color: rgb(228, 237, 243);
  transition: all 0.3s ease;
}

.sendBtn button:hover {
  background-color: rgb(0, 119, 201);
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}

.jobs-paragraph {
  margin-top: 40px;
}

.jobs-paragraph h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color:rgb(90, 166, 222) ;
}

.jobs-paragraph p {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
}

/* Responsive design  */
@media screen and (max-width: 768px) {
  .contact-header h1 {
    font-size: 32px;
  }

  .jobs-paragraph h2 {
    font-size: 28px;
  }

  .contact-form {
    max-width: 80%;
  }
}


@media screen and (max-width: 480px) {
  .contact-header h1 {
    font-size: 24px;
  }

  .jobs-paragraph h2 {
    font-size: 24px;
  }

  .contact-form {
    max-width: 100%;
  }
}
/**-----Contact page End-------**/