.jobsSection {
    font-family: 'Noto Serif', sans-serif;
}

.jobsSection .jobs {
    margin: 0 auto;
}

.jobsSection .title {
    text-align: center;
}

.jobsSection .title .bePositive {
    font-size: 30px;
    padding: 10px;
    font-family: 'Noto Serif', sans-serif;
    font-weight: 600;
    color: rgb(33, 126, 126);
    margin-bottom: 20px;
}

.jobsSection .title .determination {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 68, 121, 0.31976540616246496) 12%, rgba(0, 212, 255, 1) 100%);
    padding: 5px;
    color: rgb(13, 59, 59);

}

.jobsSection .motivedForJob {
    padding: 31px;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    color: #344142;
    text-align: justify;
}

.fetchData {
    font-family: 'Noto Serif', sans-serif;
}

.latestJobs h1 {
    text-align: center;
    color: #217e7e;
    margin-block: 50px;
    font-size: 40px;
    font-weight: 700;
    border-bottom: 1px solid;
    padding: 5px;
}

.jobCardInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    max-width: 100%;
    padding: 20px;
    gap: 20px;
}

.jobCard {
    padding: 15px;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 25px;
    box-shadow: 3px 3px 10px rgb(69, 141, 137);
    transition: all .3s ease;
    cursor: pointer;
}


.jobCard .cImage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
    margin-right: 100px;
    color: rgb(27, 82, 82);
    text-align: left;

}

.jobCard .cImage img {
    height: 65px;
    width: 100px;
    border: 1px solid;
    border-radius: 3px;
}

.jobCard p {
    font-size: 17px;
    color: rgb(16, 53, 102);
    text-align: left;
    line-height: 17px;
}

.jobCard p span {
    color: rgb(33, 126, 126);
    font-size: 18px;

}

/**-------Button section--------**/

.jobBtn {
    justify-content: space-between;
}

.jobCard .jobBtn button {
    background: #0c3c643d;
    color: rgb(13, 34, 48);
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;

}

.jobBtn button:hover {
    box-shadow: 3px 3px 10px rgb(65, 165, 157);
}

.jobCard a {
    text-decoration: none;
}

.jobCard .applyBtn, .detailsBtn,
.jobBtn button {
    width: 100%;
    margin-top: 15px;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 3px;
    background: rgb(12, 158, 202);
    color: rgb(211, 227, 253);
    border: none;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;

}


.detailsAndApplyBtn{
    gap: 30px;

}

.jobCard .applyBtn:hover,
.jobCard .detailsBtn:hover
{
    box-shadow: 3px 3px 15px rgb(11, 163, 209);
}

.exploreAllJobBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exploreAllJobBtn button {
    width: 300px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 2px;
    background: rgb(11, 163, 209);
    color: #fffcfc;
    margin-block: 40px;
    cursor: pointer;
    transition: .3s;
    border: none;
    outline: none;
    transition: all .3s ease;
    cursor: pointer;

}

.exploreAllJobBtn button:hover {
    background: rgb(10, 148, 190);
    box-shadow: 3px 3px 10px rgb(64, 167, 185);
}





/**-------Post Jobs start--------**/

.postAndAppliedJob {
    justify-content: space-around;
    position: relative;
    border-bottom: 1px solid;
    margin: 30px;
    border-color: #069263;
    gap: 50px;
}

.post-jobBtn,
.yourAppliedJobs {
    height: 140px;
    width: 160px;
    margin: 40px;
    border-radius: 0px 20px;
    text-align: center;
    background-color: #069263;
    border: none;
    outline-offset: 10px;
    outline: 1px solid rgb(87, 164, 184);
    transition: .3s;

}

.post-jobBtn:hover,
.yourAppliedJobs:hover {
    box-shadow: 4px 4px 23px rgb(38, 173, 121);
    transform: scale(1.1);
}

.post-jobBtn a,
.yourAppliedJobs a {
    text-decoration: none;
    color: #cae8ec;
}



.postAndAppliedJob .title {
    border-bottom: 1px solid;
    text-transform: uppercase;
    color: rgb(27, 66, 82);
}



/**-------Post Jobs end--------**/


@media (min-width: 480px)and (max-width: 1024px)  {
    .jobCardInfo {
        grid-template-columns: repeat(2, 1fr); 
    }
}


@media (max-width: 479px) {
    .jobCardInfo {
        grid-template-columns: repeat(1, 1fr);
    }
}