



.or hr {
    width: 160px;
    margin-inline: 5px;
    margin-top: 30px;
}

.or p {
    margin-top: 20px;
    color: gray;
}

.social {
    gap: 30px;
}

.google,
.gitHub {
    margin-top: 20px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all ease .2s;
}

.google:hover,
.gitHub:hover {
    box-shadow: 3px 3px 10px rgb(65, 63, 63);
}

.gitHub {
    background-color: black;
}

.google {
    background-color: rgb(58, 170, 88);
}

.googleLogo {
    font-size: 50px;
    margin-left: 10px;
}

.gitHubLogo {
    font-size: 35px;
    color: rgb(240, 239, 239);
    margin-left: 10px;
}

.gitHub .text button,
.google .text button
{
    padding: 16px 7px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 3px;
    color: rgb(255, 254, 254);
    cursor: pointer;
}

.googleBtn {
    background-color: rgb(58, 170, 88);
}

.gitBtn {
    background-color: #000;
}



/* Responsive styles for tablets */
@media (max-width: 900px) {

    /* .SigUpImage img, */

    .SigUpImage img{
        display: none;
    }

    .signUpForm {
        width: 100%;
    }

    .signUpPageInfo.flex{
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        align-items: center;
    }

    .signUpForm .title h1 {
        font-size: 30px;
        ;
    }


    .haveAccount {
        font-size: 18px;
    }

    .haveAccount p span {
        font-size: 22px;
    }
    .gitHub .text button,
    .google .text button
    {
        padding: 10px 5px;
        font-size: 16px;
        border: none;
        outline: none;
        border-radius: 3px;
        color: rgb(255, 254, 254);
        cursor: pointer;
    }
}

/* Responsive styles for phones */
@media (max-width: 480px) {

    .SigUpImage img{
        display: none;
    }

    .signUpForm {
        width: 100%;
    }

    .signUpPageInfo.flex{
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        align-items: center;
    }

    .signUpForm .title h1 {
        font-size: 25px;
        ;
    }


    .haveAccount {
        font-size: 16px;
    }

    .haveAccount p span {
        font-size: 20px;
    }
}