


.error_page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.errorContent{
    text-align: center;
  
}

.errorContent h1{
   color:rgb(146, 20, 20);
    font-size: 40px;
  
}

.errorContent p, i{
    font-size: 20px;
    color: rgb(243, 0, 0);
}